extends ../layout
block content
    .profiles-container.d-flex
        .personal-details.col-3
            p.title PERSONAL DETAILS
            img(src='images/avatar.jpg' width="100%")

            table.table.table-borderless.demographic-table
                tbody
                    tr
                        td.title NAME
                        td.description Prakarn Wongsanit
                    tr
                        td.title AGE
                        td.description 30
                    tr
                        td.title LOCATION
                        td.description Bangkok
                    tr
                        td.title EXPERIENCE
                        td.description 7 Years
                    tr
                        td.title EDUCATION
                        td.description
                            p Computer Engineering, KMUTNB #[br] MBA English#13, CHULA.

        .about-me.col-9
            .header.row
                p.title SKILLS
            .skills.row
                p PUTS ALL yours skills as pill here
            .working-place.row
                p Working place 1
            .working-place.row
                p Working place 2