extends ../layout
block content
    .profiles-container.d-flex
        .personal-details.col-3
            img(src='images/avatar.jpg' width="100%")

            h5 PERSONAL DETAILS

            .demographic-table
                .row
                    .col-4.title
                        | EMAIL
                    .col-8.description
                        | prakarnwongsanit@gmail.com
                .row
                    .col-4.title
                        | NAME
                    .col-8.description
                        | Prakarn Wongsanit
                .row
                    .col-4.title
                        | AGE
                    .col-8.description
                        | 30
                .row
                    .col-4.title
                        | LOCATION
                    .col-8.description
                        | Bangkok
                .row
                    .col-4.title
                        | EXPERIENCE
                    .col-8.description
                        | 7 Years
                .row
                    .col-4.title
                        | EDUCATION
                    .col-8.description
                        | Computer Engineering, KMUTNB #[br] MBA English#13, CHULA.
        .about-me.col-9
            .skills.row
                p.title SKILLS

                button.btn.btn-success.skill(type='button') Git
                button.btn.btn-success.skill(type='button') SQL/Postgres
                button.btn.btn-success.skill(type='button') JavaScript
                button.btn.btn-success.skill(type='button') Ruby
                button.btn.btn-success.skill(type='button') Ruby on Rails
                button.btn.btn-success.skill(type='button') CSS
                button.btn.btn-success.skill(type='button') SCSS
                button.btn.btn-success.skill(type='button') Selenium
                button.btn.btn-success.skill(type='button') Unix
                button.btn.btn-success.skill(type='button') ShellScript
                button.btn.btn-success.skill(type='button') Android
                button.btn.btn-success.skill(type='button') Express
                button.btn.btn-success.skill(type='button') Nodejs
                button.btn.btn-success.skill(type='button') Pug

            .certifications.d-flex.flex-column
                p.title Certifications

                ul.certification
                    li.name Android application development (2014)
                    li.company First Logic
                ul.certification
                    li.name Unix fundamental (2013)
                    li.company AIS
                ul.certification
                    li.name Shell script (2013)
                    li.company AIS
                ul.certification
                    li.name SSDLC(OWASP), Security (2013)
                    li.company Deloitte
                ul.certification
                    li.name Java SE7 (2013)
                    li.company First Logic

            .working-place.d-flex.flex-column
                h3.section-description Work Experience
                p.title Platform Engineer
                p.company-name OKKAMI
                p.period Aug 2016 - Jan 2020

                ul.achievements
                    li.achievement Upgrade the current security system by using the Devise gem to implement OAuth2 Authentication System.
                    li.achievement Implement the fulfillment system and Dashboard to manage and fulfill orders and requests from customers.
                    li.achievement Add Revenue analytics metrics to track purchase history and other activities of guests.
                    li.achievement Trace logs, support testing and provide software system design or database best practices to a project manager.
            .working-place.d-flex.flex-column
                p.title Software Engineer
                p.company-name Dezainwerkz
                p.period Jun 2015 - Jul 2016

                ul.achievements
                    li.achievement As an Android developer to create robust android applications.
                    li.achievement As Ruby on Rails developer to build strong APIs, support both web and mobile.
                    li.achievement As front-end with Ruby on Rails framework to make a beautiful website.
                    li.achievement As a Backend role to write shell-scripts to eliminate routine jobs on the server and to set up servers.

            .working-place.d-flex.flex-column
                p.title Software Engineer
                p.company-name Nimble
                p.period Oct 2014 - May 2015

                ul.achievements
                    li.achievement Zeemi web application: Add many API endpoints.
                    li.achievement Rubicon web application as a Part management system: Add API endpoints, Built the administration section.
                    li.achievement Zeemi android - Video broadcast application: add many features.
                    li.achievement Available android - Dating application: Upgrade to version 2.0: Add many features
                    li.achievement RedPlanet android - Hotel booking application: Improve and redesign user interface

            .working-place.d-flex.flex-column
                p.title Programmer Analyst
                p.company-name Advance Info Service (AIS)
                p.period Apr 2012 - Sep 2014

                ul.achievements
                    li.achievement Develop, add new features to network node called AMF( account managing function) which was designed by C language on NDS platform.
                    li.achievement Manage user packages, create, modify, delete data packages. All data packages have to pass this node.
                    li.achievement Developed main features to support AIS 3G2100.
                    li.achievement Added new attributes to support AIS 3G2100.
                    li.achievement A backend developer traced problems on servers.
                    li.achievement A bash script developer, to write scripts to modify data. Over 30 Millions users effected.
                    li.achievement Build FM91BKK Android application which was designed to help people to receive and inform traffic information. This project is a cooperation of AIS,FM91,NECTEC. Plotting accidents on google map. Watching CCTV and many features.
                    li.achievement DirectSale android application which managed selling function.
                    li.achievement MicroController projects, Research and development. Bluetooth low energy, iBeacon, Arduino.

