extends ../layout
block content
    .profiles-container.d-flex
        .personal-details.col-4
            p PERSONAL DETAILS
            img(src='images/avatar.jpg' width="100%")

            table.table.table-borderless.demographic-table
                tbody
                    tr
                        td.title NAME
                        td.description Prakarn Wongsanit
                    tr
                        td.title AGE
                        td.description 30
                    tr
                        td.title LOCATION
                        td.description Bangkok
                    tr
                        td.title EDUCATION
                        td.description
                            p Computer Engineering, KMUTNB #[br] MBA English#13, CHULA.

        .about-me.col-8
            p about me