extends ../layout
block content
    .profiles-container.d-flex
        .personal-details.col-3
            p.title PERSONAL DETAILS
            img(src='images/avatar.jpg' width="100%")

            table.table.table-borderless.demographic-table
                tbody
                    tr
                        td.title NAME
                        td.description Prakarn Wongsanit
                    tr
                        td.title AGE
                        td.description 30
                    tr
                        td.title LOCATION
                        td.description Bangkok
                    tr
                        td.title EXPERIENCE
                        td.description 7 Years
                    tr
                        td.title EDUCATION
                        td.description
                            p Computer Engineering, KMUTNB #[br] MBA English#13, CHULA.

        .about-me.col-9
            .skills.row
                p.title SKILLS

                button.btn.btn-success.skill(type='button') Git
                button.btn.btn-success.skill(type='button') SQL/Postgres
                button.btn.btn-success.skill(type='button') JavaScript
                button.btn.btn-success.skill(type='button') Ruby
                button.btn.btn-success.skill(type='button') Ruby on Rails
                button.btn.btn-success.skill(type='button') CSS
                button.btn.btn-success.skill(type='button') SCSS
                button.btn.btn-success.skill(type='button') Selenium
                button.btn.btn-success.skill(type='button') Unix
                button.btn.btn-success.skill(type='button') ShellScript
                button.btn.btn-success.skill(type='button') Android
                button.btn.btn-success.skill(type='button') Express
                button.btn.btn-success.skill(type='button') Nodejs
                button.btn.btn-success.skill(type='button') Pug


            .working-place.row.d-flex.flex-column
                p.title Platform Engineer
                p.company-name OKKAMI
                p.period Aug 2016 - Jan 2020

                ul.achievements
                    li.achievement Cras justo odio
                    li.achievement Dapibus ac facilisis in
                    li.achievement Morbi leo risus
                    li.achievement Porta ac consectetur ac
                    li.achievement Vestibulum at eros

            .working-place.row.d-flex.flex-column
                p Working place 1
            .working-place.row.d-flex.flex-column
                p Working place 2