extends ../layout
block content
    .container
        .personal-details.col-6
            p personal details
        .about-me.col-6
            p about me



        h5 Welcome To My Best Code
        p.test-writing-in-full Please Show me