doctype html
html(lang="en")
    head
        title SCG to CTW
    body
        header
            h1 The best way to commute
        section#content
            h2 #{prompt}
            if hint
                p
                    i Hint: #{hint}
            else
                p
                    i Hint: There is no hint

    footer

