doctype html
html(lang="en")
    head
        title SCG Test
        link(rel="stylesheet" href="css/main.css")
    body
        include includes/header
        block content
        include includes/footer
