html, body {
  width: 100%;
  height: 100%;
  font-size: 14px !important;
  background: black;
  background-color: lightcoral;
  padding: 0; }
  html .container-fluid, body .container-fluid {
    padding: 0; }
    html .container-fluid .navbar, body .container-fluid .navbar {
      height: 60px; }
      html .container-fluid .navbar .navbar-brand, body .container-fluid .navbar .navbar-brand {
        font-weight: bold;
        color: white;
        padding: 5px;
        background: red; }
    html .container-fluid .container, body .container-fluid .container {
      padding: 60px;
      padding-bottom: 0px;
      text-align: center;
      overflow: scroll;
      max-height: 910px; }
      html .container-fluid .container h1, body .container-fluid .container h1 {
        color: white; }
      html .container-fluid .container .container-wrapper .list-group .list-group-item, body .container-fluid .container .container-wrapper .list-group .list-group-item {
        text-align: left;
        background: white; }
        html .container-fluid .container .container-wrapper .list-group .list-group-item .details .duration, body .container-fluid .container .container-wrapper .list-group .list-group-item .details .duration {
          font-size: 16px;
          color: forestgreen;
          font-weight: 500; }
        html .container-fluid .container .container-wrapper .list-group .list-group-item .details .distance, body .container-fluid .container .container-wrapper .list-group .list-group-item .details .distance {
          font-size: 13px;
          color: gray; }
    html .container-fluid .footer, body .container-fluid .footer {
      position: absolute;
      text-align: center;
      bottom: 0;
      width: 100%;
      height: 60px;
      line-height: 60px;
      background-color: red; }
