.profiles-container {
  padding: 60px;
  padding-top: 140px;
  text-align: center;
  overflow: scroll;
  background: lightgray;

  .personal-details {
    padding: 0;
    background: white;
    margin: 0;

    .title {
      font-weight: 500;
    }

    .demographic-table {
      text-align: left;

      tbody {
        tr {
          td {
            &.title {
              font-weight: 500;
            }

            &.description {
              color: darkgrey;
            }
          }
        }
      }
    }
  }

  .about-me {
    margin-left: 20px;
    padding: 0px;

    > div {
      margin: 0;
      margin-bottom: 2px;
      background: white;
    }

  }
}

